@charset "utf-8";
/* SenCSS 0.6 */
html,body,div,span,applet,object,iframe,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,strong,tt,var,dl,dt,dd,blockquote,fieldset,form,i,b,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;vertical-align:baseline}
body{background:#fff;color:#000;font:75%/1.5em "Century Gothic", Arial, Helvetica, "Liberation sans", "Bitstream Vera Sans", sans-serif;position:relative}
textarea{font:100%/1.5em Arial, Helvetica, "Liberation sans", "Bitstream Vera Sans", sans-serif}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:1px dotted}
a{text-decoration:underline}
a:hover,a:focus{text-decoration:none}
abbr,acronym{border-bottom:1px dotted;cursor:help;font-variant:small-caps}
address,cite,em,i{font-style:italic}
blockquote p{margin:0 1.5em 1.5em;padding:0.75em}
code,kbd,tt{font-family:"Courier New", Courier, monospace;line-height:1;*line-height:1.5}
del{text-decoration:line-through}
dfn{border-bottom:1px dashed;font-style:italic}
dl{margin:0 0 1.5em}
dt{font-weight:700}
dd{padding-left:1.5em}
h1{font-size:2em;font-weight:700;margin:0 0 0.75em}
h2{font-size:1.5em;margin:0 0 1em}
h3{font-size:1.1666em;margin:0 0 1.285em}
h4{font-size:1em;margin:0 0 1.5em}
h5{font-size:0.8333em;margin:0 0 1.8em}
h6{font-size:0.666em;margin:0 0 2.25em}
img{display:inline-block;vertical-align:bottom}
ins{text-decoration:overline}
ol{list-style:inside decimal}
p{font-weight:300;margin:0 0 1.5em}
pre{font-family:"Courier New", Courier, monospace;margin:0 0 1.5em}
sub{top:0.4em;font-size:0.85em;line-height:1;position:relative;vertical-align:baseline}
sup{font-size:0.85em;line-height:1;position:relative;bottom:0.5em;vertical-align:baseline}
strong,b{font-weight:700}
ul{list-style:inside disc}
ul,ol{margin:0 0 1.5em;padding:0}
li ul,li ol{margin:0}
li li{padding-left:1.5em}
table{border-collapse:collapse;border-spacing:0;margin:0 0 1.5em;padding:0}
caption{font-style:italic;text-align:left}
tr.alt td{background:#eee}
td{border:1px solid #000;padding:0.333em;vertical-align:middle}
th{font-weight:700;padding:0.333em;vertical-align:middle}
form button{cursor:pointer;display:block;font-size:1em;height:2em;line-height:1.5em;margin:0.8em 0 0;*margin:1.75em 0 0;padding:0 0.5em}
form fieldset{border:0;margin:0 0 1.5em;position:relative;padding:1.5em 0 0}
form fieldset fieldset{clear:both;margin:0 0 1.5em;padding:0 0 0 1.5em}
form input{border:1px solid #ccc;border-bottom-color:#eee;border-right-color:#eee;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size:1em;height:2.25em;*height:1.5em;line-height:1.5em;padding:0.29em 0;width:100%;margin:0 0 0.75em}
form input[type=file]{height:2.25em;padding:0}
form textarea{border:1px solid #ccc;border-bottom-color:#eee;border-right-color:#eee;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0;padding:0.29em 0;width:100%}
form select{border:1px solid #ccc;border-bottom-color:#eee;border-right-color:#eee;font-size:1em;height:2.25em;margin:0 0 0.75em;*margin:0 0 0.8em;_margin:0 0 1.3em;padding:0.2em 0 0}
form optgroup {font-weight:700;font-style:normal;text-indent:0.2em}
form optgroup + optgroup {margin-top:1em}
form option{font-size:1em;height:1.5em;padding:0;text-indent:1em}
form label{cursor:pointer;display:block;height:1em;*height:auto;*line-height:1.4em;margin:0;padding:0;width:100%}
form label input{background:0;border:0;height:1em;*height:1.5em;line-height:1.5em;margin:0 0.5em 0 0;padding:0;width:auto}
form legend{font-size:1.1666em;font-weight:700;left:0;margin:0;padding:0}
.amp{font-family:Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", "URW Chancery L", Gentium, serif;font-style:italic}
.aside-left{clear:left;float:left;margin:0 1.5em 0 0}
.aside-right{clear:right;float:right;margin:0 0 0 1.5em}
.error{background:#fee;border:1px solid red;margin:1.5em;padding:0.666em;text-align:center}
.notice{background:#eef;border:1px solid #00f;margin:1.5em;padding:0.666em;text-align:center}
.success{background:#efe;border:1px solid #0f0;margin:1.5em;padding:0.666em;text-align:center}
.warning{background:#ffe;border:1px solid #ff0;margin:1.5em;padding:0.666em;text-align:center}
.quo{font-family:Georgia, Gentium, "Times New Roman", Times, serif}
.lquo{font-family:Georgia, Gentium, "Times New Roman", Times, serif;margin:0 0 0 -0.55em}
.firstParagraphArticle:first-letter{float:left;font-size:3.2em;font-weight:700;line-height:1em;margin:0 0 -0.2em;padding:0.125em 0.1em 0 0}
.horizontalForm button{clear:left;float:left;margin:0}
.horizontalForm input,.horizontalForm textarea{float:left;margin:0 0 0.75em;*margin:0 0 0.8em;width:49%}
.horizontalForm select{float:left;margin:0 0 0.75em;_margin:0 0 1.25em}
.horizontalForm label{clear:left;float:left;padding:0.375em 0;width:49%}
.horizontalForm label input{height:1em;line-height:1.5em;margin:0.25em 0.5em 0 0;width:auto}
.horizontalForm label.singleLine{clear:both;float:none;height:1.5em;padding:0;width:100%}



/* START CSS */
.screen {
  position:relative;
  width:800px;
  height:480px;
  margin:50px auto;
  border:20px solid #eee;
  outline:1px solid #666;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -moz-outline-radius:10px;
  -webkit-outline-radius:10px;
}

.wireframe .topbar {
  background:#dbdbdb;
  height:50px;
  width:100%;
  display:block;
  position:absolute;
  top:0;left:0;
  padding-top:10px;
  padding-bottom:10px;
}
.wireframe .main {
  position:absolute;
  top:0;
  left:0;
  height:439px;
  width:100%;
  padding-top:41px;
 }

.wireframe .topbar .weather {
  width:65px;
  height:44px;
  position:absolute;
  left:220px;
  top:14px;

}
.wireframe .topbar .sunny {background:url(../images/sunny.png) no-repeat 0 0;}
.wireframe .topbar .degree {
  position:absolute;
  right:-2px;
  bottom:-4px;
  font-size:18px;
  font-weight:bold;
}
.wireframe .topbar .datetime {
  width:200px;
  position:absolute;
  left:18px;
  top:24px;
  margin:0px 20px 0px 0px;
  font-size:14px;
  font-weight:bold;
}
.wireframe .topbar .datetime .time {
  font-size:40px;
  height:40px;
  float:left;
  margin-top:10px;
}

.wireframe .topbar .datetime .date {
  float:left;
  margin-left:5px;
}
.wireframe .seperator {
  position:absolute;
  height:50px;
  top:10px;
  left:300px;
  border-left:1px solid #999;
  border-right:1px solid #eee;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
}
.wireframe .thermo {
  position:absolute;
  top:10px;
  left:320px;
  height:50px;
  width:35px;
  font-size:18px;
  background:url(../images/thermo.png) no-repeat 0 0;
}
.wireframe .thermo .degree {bottom:0;right:-8px;}
.wireframe .topbar .info {
  background:url(../images/info.png) no-repeat 0 0;
  position:absolute;
  left:395px;
  top:20px;
  width:42px;
  height:43px;
}
.wireframe .topbar .barchart {
  position:absolute;
  right:18px;
  top:25px;
  padding:5px;
  height:30px;
  width:320px;
}
.wireframe .topbar .barchart div {
  float:left;
  height:30px;
  background:#ff0;
  display:block;
  color:#fff;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:30px;
  text-align:center;
}
.wireframe .topbar .barchart .solar {
  background:#e2b974;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
}
.wireframe .topbar .barchart .wind {
  background:#4a7fb9;
}
.wireframe .topbar .barchart .other {
  background:#db5050;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
}
.wireframe .topbar .barchart div span {
}
.wireframe .main .slider {
  position:absolute;
  bottom:20px;
  left:150px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  background:#ddd;
  opacity:0.8;
  width:500px;
  height:80px;
  text-align:center;
}
.wireframe .main h1 {
  position:absolute;
  left:50px;
  top: 110px;
  padding:10px;
}
.wireframe .main h1 a {
  text-decoration:none;
  color:inherit;
  font-size:0.8em;
}
.wireframe .main h1 a span {
  font-size:1.2em;
  background:#e2b974;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:4px 5px;
}
.wireframe .main #maingraph {
  background:#fff;
  padding:50px 0;
  width:800px;
  position:absolute;
  top:100px;
  left:0;
  height: 250px;

